.cv-item {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 32px;
}
.cv-item:not(:last-child) {
    margin-bottom: 40px;
}
.cv-item__time {
    min-width: 20%;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color-muted);
}
.cv-item__main {
    flex-grow: 1;
    width: 50%;
    min-width: 280px;
}
.cv-item__heading {
    position: relative;
}
.cv-item__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.cv-item__location {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-muted);
}
.cv-item__logo {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 35px;
    object-fit: contain;
    object-position: right;
}