.header {
    display: flex;
    align-items: center;
    gap: 24px 40px;
    flex-wrap: wrap;
}
.header__img {
    max-width: 175px;
    border-radius: 500px;
}
.header__info {
    min-width: 300px;
    width: 50%;
    flex-grow: 1;
}
.header__title {
    margin: 0 0 8px 0;
}