/* Components */
.logo {
  width: 125px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav {
  display: flex;
  padding: 22px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 7.5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 7.5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 7.5px 0px rgba(0,0,0,0.1);
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero--img {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
.hero--title {
  margin-bottom: 12px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
}

.card {
  position: relative;
  width: 175px;
  font-size: 0.75rem;
  flex: 0 0 auto;        
  display: flex;         
  flex-direction: column;
}

.card--img {
  width: 100%;
  border-radius: 9px;
  height: 225px;
  object-fit: cover;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  margin-top: 8px;
}
.card--price {
  margin-top: auto;
}
.card--star {
  height: 14px;
}
.card--label {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  margin-top: 24px;
  border: 1px solid #e5e5e5;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 16px;
}

.top {
  top: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form--input {
  flex-grow: 1;
  height: 40px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  width: 100%;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

